#
# .gitignore file
#

# You can whitelist files/folders with !, these will not be ignored
!.gitignore
!*.md
!*.yaml


# Ignore folders
.git
.storage
.cloud
.cache*
.addon-env
.claude
.claudecode
custom_components
tts
www
examples
image
NOTES
zigbee2mqtt
ccab4aaf_frigate
claude-code-persist
tmp_debug

# Ignore files
watchman_report.txt
home-assistant_v2.db-shm
home-assistant_v2.db-wal
frigate*
.jwt_secret
.exports
backup_config.yaml
secrets.yaml
logger.yaml
.uuid
.google.token
.google_maps*
.timeline
.vacuum
ip_bans.yaml
known_devices.yaml
google_calendars.yaml
*.conf
*.sh
*.log
*.log.*
*.db
claude-code-persist/.claude/.credentials.json


blueprints/automation/homeassistant/motion_light.yaml
blueprints/automation/homeassistant/notify_leaving_zone.yaml

zigbee.db-journal
zigbee.db-shm
zigbee.db-wal

.ha_run.lock
